/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/* Zone-Branding */

#zone-branding {
}

.logo-img {
  /* Probably this should come back." */
  /* margin-left: -100px; */
  min-height: 164px;
}

#osulogo {
  background: url(../images/branding.png) no-repeat top left;
  background-position: 0 -266px; width: 84px; height: 86px;
  height: 86px;
  width: 84px;
  position: absolute;
  bottom: 50px;
  right: 0px;
}

#ascbanner {
  background: url(../images/branding.png) no-repeat top left;
  background-position: 0 -161px; width: 84px; height: 86px;
  height: 111px;
  width: 84px;
  position: absolute;
  top: 0px;
  right: 0px;
}
