.context-blog #blog-page-title {
  width: 924px;
  height: 100px;
  color: #ffffff;
  padding: 8px;
  z-index: 2;
  position: relative;
  line-height: 140px;
}

.context-blog #blog-page-title span {
  line-height: 140px;
  font: 30px 'Cardo', sans-serif;
  font-weight: normal;
}

.context-blog #region-content .region-content-inner {
  padding-top: 0px;
}

.context-blog #region-sidebar {
  padding-top: 115px;
}

.context-blog #region-sidebar .block:first-child {
  padding: 15px;
  margin-top: 0px;
}

.node-type-asc-blog h1#page-title {
  display: none;
}

.context-blog article {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.field-name-field-blog-terms-1 .field-item {
  border-top: 1px solid black;
}
