.context-blog #page-title {
  width: 924px;
  height: 100px;
  color: #ffffff;
  line-height: 5;
  padding: 8px;
  z-index: 2;
  position: relative;
}

.context-blog #region-content {
  padding-top: 0px;
}

.context-blog #region-sidebar .blog-description:first-child {
  margin-top: 115px;
  padding: 15px;
}
