.context-blog #page-title {
  width: 924px;
  height: 100px;
  color: #ffffff;
  line-height: 5;
  padding: 8px;
  z-index: 2;
  position: relative;
}

.context-blog #region-content .region-content-inner {
  padding-top: 0px;
}

.context-blog #region-sidebar {
  padding-top: 115px;
}

.context-blog #region-sidebar .block:first-child {
  padding: 15px;
  margin-top: 0px;
}

.context-blog article {
  border-bottom: 1px solid black;
}

.field-name-field-blog-terms-1 .field-item {
  border-bottom: 1px solid black;
}
