#zone-branding-wrapper {
  background-color: #ffffff;
}

.region-header-second {
  background: #6a6a6a;
}

.zone-postscript h2.block-title,
.zone-preface h2.block-title {
  background-color: #6a6a6a;
}

.front .view .more-link a {
  background-color: #6a6a6a;
}

#zone-postscript .region section.block {
  border-right: 1px solid #6a6a6a;
}


#zone-footer-wrapper {
  background-color: #6b6b6b;
}


#header-tile {
  background-color: #8e8e8e;
}

.context-blog #page-title {
  background: #bb0000;
}
