#zone-branding-wrapper {
  background-color: #ffffff;
}

#breadcrumb-right-wrapper,
#region-sidebar,
#region-sidebar .date-nav-wrapper .date-heading {
  background-color: #e2d0b2
}

.region-header-second {
  background: #6a6a6a;
}

.zone-postscript h2.block-title,
.zone-preface h2.block-title {
  background-color: #6a6a6a;
}

.front .view .more-link a {
  background-color: #6a6a6a;
}

#zone-postscript .region section.block {
  border-right: 1px solid #6a6a6a;
}


#zone-footer-wrapper {
  background-color: #8e8e8e;
}


#header-tile {
  background-color: #6b6b6b;
}

.context-blog #blog-page-title,
.view-display-id-blog_page #page-title {
  background: #6a6a6a;
}
