/* Product Catalog */
#region-content .product-catalog-grid table{}
#region-content .product-catalog-grid table tr{}
#region-content .product-catalog-grid table tr td{padding: 10px; width: 33%;}
#region-content .product-catalog-grid table tr td.col-first{padding-left: 0;}
#region-content .product-catalog-grid table tr td.col-last{padding-right: 0;}
#region-content .product-catalog-grid table tr td .views-field-add-to-cart-form{}
#region-content .product-catalog-grid table tr td .views-field-field-image img{margin: 0 auto;}

#region-content .product-catalog-table tr{}
#region-content .product-catalog-table tr .views-field-field-image img{vertical-align: top;}
#region-content .product-catalog-table tr .views-field-field-description{}
#region-content .product-catalog-table tr .views-field-field-description div.title{margin-bottom: .5em; line-height: 1;}
#region-content .product-catalog-table tr .views-field-field-description p:last-child{margin-bottom: 0;}
#region-content .product-catalog-table tr .views-field-commerce-price div.price,
#region-content .product-catalog-table tr .views-field-commerce-price div.type{position: relative; top: 2em;}
#region-content .product-catalog-table tr .views-field-add-to-cart-form{vertical-align: middle;}



/* Shopping Cart */
#region-sidebar .block-commerce-cart .cart-empty-block{padding: 10px 15px;}

#region-sidebar .block-commerce-cart table{}
#region-sidebar .block-commerce-cart table tr{}
#region-sidebar .block-commerce-cart table tr td{}
#region-sidebar .block-commerce-cart table tr td.views-field-quantity{padding-left: 15px;}
#region-sidebar .block-commerce-cart table tr td.views-field-commerce-total{padding-right: 15px;}

#region-sidebar .block-commerce-cart .view-footer{padding: 0 15px; margin-top: 10px;}

#region-sidebar .block-commerce-cart ul.inline{margin: 0;}
#region-sidebar .content .view-commerce-cart-block ul li{border: none;}

#region-sidebar .block-commerce-cart ul li.line-item-summary-view-cart,
#region-sidebar .block-commerce-cart ul li.line-item-summary-checkout{display: inline-block; margin: 0;}

#region-sidebar .block-commerce-cart li.line-item-summary-view-cart a,
#region-sidebar .block-commerce-cart li.line-item-summary-checkout a{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	
	border-color: #DDDDDD #BBBBBB #999999;
	border-image: none;
	border-radius: 11px 11px 11px 11px;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	font: bold 12px/1.2 Arial,sans-serif;
	outline: 0 none;
	overflow: visible;
	padding: 3px 10px 4px;
	text-shadow: 0 1px 1px #FFFFFF;
	width: auto;
	margin-left: 16px;
}