#region-sidebar .block-commerce-cart table{}
#region-sidebar .block-commerce-cart table tr{}
#region-sidebar .block-commerce-cart table tr td{}
#region-sidebar .block-commerce-cart table tr td.views-field-quantity{padding-left: 15px;}
#region-sidebar .block-commerce-cart table tr td.views-field-commerce-total{padding-right: 15px;}

#region-sidebar .block-commerce-cart .view-footer{padding: 0 15px; margin-top: 10px;}

#region-sidebar .block-commerce-cart ul.inline{margin: 0;}

#region-sidebar .block-commerce-cart li.line-item-summary-view-cart,
#region-sidebar .block-commerce-cart li.line-item-summary-checkout{
	display: inline-block;
	margin: 0;
}

#region-sidebar .block-commerce-cart li{border: 0;}

#region-sidebar .block-commerce-cart li.line-item-summary-view-cart a,
#region-sidebar .block-commerce-cart li.line-item-summary-checkout a{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-color: #DDDDDD #BBBBBB #999999;
	border-image: none;
	border-radius: 11px 11px 11px 11px;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	font: bold 12px/1.2 Arial,sans-serif;
	outline: 0 none;
	overflow: visible;
	padding: 3px 10px 4px;
	text-shadow: 0 1px 1px #FFFFFF;
	width: auto;
	margin-left: 16px;
}