.node-type-asc-event .field-name-field-ascevents-image img {
  float: left;
  border: 1px solid #666666;
  margin: 0px 10px 3px 0px;
}

/* News List Block on News Page */

.view-display-id-asc_events_feature_small .views-field-field-ascevents-datetime {
  float: left;
  margin: 0 1em 1em 0em;
}

.view-display-id-asc_events_feature_small .views-row {
  clear: both;
}

.view-display-id-asc_events_feature_large .col-1 {
  padding-right: 1.8em;
}

.view-display-id-asc_events_feature_large > .view-content:first-child {
  float: left;
  width: 62%;
  padding-right: 0.2em;
  border-right: 1px dotted #888888;
  margin-right: 0.8em;
}

.view-display-id-asc_events_feature_large .attachment {
  float: left;
  width: 33%;
}

.view-display-id-asc_events_feature_large .col-1,
.view-display-id-asc_events_feature_large .col-2 {
  width: 122px;
}

/* Small Feature */
.view-display-id-asc_events_feature_small .view-content .views-row {
  position: relative;
  height: 4.7em;
}

.view-display-id-asc_events_feature_small .view-content .views-row .views-field-title {
  position: absolute;
  bottom: 1.5em;
  left: 4.7em;
}

.view-display-id-asc_events_feature_small .view-content .views-row .views-field-field-ascevents-datetime-1 {
  position: absolute;
  bottom: 0;
  left: 4.7em;
}

.view-display-id-asc_events_feature_small .view-content img {
  border: 0 none;
}

/* Events Page */
.view-display-id-asc_events_page table th {
  text-transform: uppercase;
}

.view-display-id-asc_events_page table tr {
  background: none;
}

.view-display-id-asc_events_page table td {
  vertical-align: middle;
  padding: 0.5em;
}

.view-display-id-asc_events_page .date-prev a {
  position: absolute;
  left: 0px;
  width: 55px;

.view-display-id-asc_events_page .views-field-title,
.view-display-id-asc_events_page .views-field-field-ascevents-datetime,
.view-display-id-asc_events_page .views-field-field-ascevents-location {
  width: 30%;
}

