/* Styles for ASC Standard Sites */

.front article header {
  display: none;
}

.front .gallery-thumbs {
  display: none;
}

.front .view-display-id-front_text_short,
.front .view-display-id-quick_links_text,
.front .view-display-id-front_text_tall {
  padding: 1em;
}

/* This was needed when slider image wasn't width + gutter.
.front .region-header-first .block-views {
  margin-right: -20px;
}
  */


.front .features {
  height: 235px;
}

.front .feature-half {
  width: 220px;
  float: left;
}


.front .region-preface-first section.feature-half,
.front .region-postscript-first section.feature-half {
  margin-left: 20px;
  margin-right: -10px;
}

.front .region-preface-first section.feature-half:first-child,
.front .region-postscript-first section.feature-half:first-child {
  margin-left: 0px;
  margin-right: 0px;
}

.front .region-preface-second section.feature-half:first-child,
.front .region-postscript-second section.feature-half:first-child {
  margin-left: 8px;
  margin-right: 0px;
}

.front .region-preface-second section.feature-half,
.front .region-postscript-second section.feature-half {
  margin-right: -10px;
  margin-left: 20px;
}

.front .feature-half .views-row,
.front .feature-whole .views-row {
  border-bottom: 1px dotted #cccccc;
  min-height: 55px;
}

.front .feature-half .views-row-last,
.front .feature-whole .views-row-last {
  border-bottom: 0px none;
}

.front .feature-whole .attachment .view-content {
  position: relative;
}

.front .feature-whole .attachment .view-content .views-field-title {
  position: absolute;
  bottom: 1.5em;
}

.front .feature-whole .attachment .view-content .views-field-changed {
  position: absolute;
  bottom: 0;
}
