/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Elements */

body {
  font: 15px/22px Geneva, Verdana, sans-serif;
  background: #ffffff;
}

a, a:hover {
  color: #990000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a[href$='.pdf'] { padding-left: 15px; background: transparent url(../images/page_white_acrobat.png) center left no-repeat;  }
a[href$='.doc'] { padding-left: 15px; background: transparent url(../images/page_white_word.png) center left no-repeat;  }
a[href$='.xls'] { padding-left: 15px; background: transparent url(../images/page_white_excel.png) center left no-repeat;  }
a[href$='.ppt'] { padding-left: 15px; background: transparent url(../images/page_white_powerpoint.png) center left no-repeat;  }

h1,h2,h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 30px;
  line-height: 52px;
}

h2 {
  font-size: 26px;
  line-height: 48px;
}

h3 {
  font-size: 22px;
  line-height: 44px;
}


/* Header and Navigation */
/* Zone Menu */

#zone-menu-wrapper {
  background: #000000 url('../images/headerbar.png') repeat-x 0 0;
  background-color: #000000;
  min-height: 38px;
}

#zone-menu #main-menu li a {
  font: 13px/20px Arial, sans;
  color: #cccccc;
  text-transform: uppercase;
  text-decoration: none;
}

#zone-menu .navigation {
  padding-top: 0.3em;
}


/* Zone Footer */

#zone-footer-wrapper {
  border-top: 6px solid #cccccc;
  background-color:#36423A;
  background-image:-webkit-gradient(radial,50% center,0,center center,750,from(#69756D),to(#36423A));
  background-image:-moz-radial-gradient(50% center, circle farthest-corner,#69756D,#36423A);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr=#69756D,endColorStr=#36423A);
  filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr=#69756D,endColorStr=#36423A); 
}

#zone-footer {
  color: #ffffff;
  font: 12px/16px Arial, sans-serif;
}

#zone p {
  border-top: 1px solid white;
  padding: 1em 3px;
  margin-bottom: 0;
}
