/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Elements */

body {
  font: 13px/22px Helvetica, Arial, sans-serif;
  background: #ffffff;
}

a {
  color: #bb0000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

a[href$='.pdf'] { padding-left: 15px; background: transparent url(../images/page_white_acrobat.png) center left no-repeat;  }
a[href$='.doc'] { padding-left: 15px; background: transparent url(../images/page_white_word.png) center left no-repeat;  }
a[href$='.xls'] { padding-left: 15px; background: transparent url(../images/page_white_excel.png) center left no-repeat;  }
a[href$='.ppt'] { padding-left: 15px; background: transparent url(../images/page_white_powerpoint.png) center left no-repeat;  }

p {
  color: #222;
  margin-top: 0;
  margin-bottom: 1em;
}

h1,h2,h3 {
  font-family: Cardo, serif;
  font-weight: normal;
}

h1 {
  font-size: 2.3em;
  line-height: 1.3em;
}

h1#page-title {
  margin-bottom: 1em;
}

h2 {
  font-size: 26px;
  line-height: 48px;
}

h3 {
  font-size: 22px;
  line-height: 44px;
}

blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {
  /*margin-bottom:1.4em;*/
  width:100%;
}
tfoot {font-style:italic;}

#region-content th {
  text-transform: uppercase;
}

#region-content td.active {
  background: #f4f0e6;
}

#region-content tr.even {
  background: #f4f0e6;
}

#region-content tr.odd {
  background: #ffffff;
}

#region-content tr.odd td.active {
  background: #e4e0d6;
}

/* General CSS Classes */

.small {
  font-size: 75%;
  margin-bottom: .5em;
  line-height: 1.3em;
}

.not-front .field-type-text-with-summary img {
  max-width: 100%;
  height: 100%;
}

/* To protect element spacing in mobile layout. */
.region {
  margin-bottom: 1em;
}

/* Header and Navigation */
/* Zone Branding */



/* Zone Menu */

#zone-menu-wrapper {
  background: #333333;
  height: 38px;
}

#zone-menu .navigation {
  padding-top: 0.6em;
}

/* For Mobile menu */
#zone-menu-wrapper select {
  width: 100%;
}

/* Zone Header */
#region-header-second .view-content {
  color: #ffffff;
}

#region-header-second .block-menu-menu-quick-links {
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.block-menu-menu-quick-links {
  padding-left: 0.5em;
}

#views_slideshow_cycle_main_rotor-block img {
  /* width: 100%; */
}

#region-header-second #block-menu-menu-quick-links .menu a:link,
#region-header-second #block-menu-menu-quick-links .menu a:visited,
#region-header-second #block-menu-menu-quick-links .menu a:hover {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 3px;
}

#region-header-second #block-menu-menu-quick-links .menu a:hover {
  color: #000000;
  background-color: #f4f0e6;
}


#region-header-second ul.menu li {
  list-style: none;
  border-bottom: 2px white dotted;
  padding-right: 0;
}

#region-header-second ul.menu li.last {
  border-bottom: none;
}


/* Zone Preface */

/* Hide Header-tile for mobile, overridden in default */
#header-tile {
  display: none;
}

#zone-preface {
  margin-bottom: 2em;
}

#zone-preface .region section.block {
  margin-top: 2em;
}

#zone-preface .region section.block .content {
}


/* Features */

.features {
  font-size: 0.875em;
  padding: 0.7em 0.5em 0;
}

.features  .views-field-title {
  line-height: 0.9em;
}

.features .views-field {
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

.features img {
  border: 1px solid black;
  margin-top: 0.5em;
  margin-right: 1em;
}

.feature-half {
  position: relative;
}

#zone-postscript h2.block-title,
#zone-postscript h2.block-title a,
#zone-preface h2.block-title,
#zone-preface h2.block-title a {
  font-family: 'Lato', sans-serif;
  text-align: right;
  font-size: 27px;
  height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 46px;
  text-decoration: none;
}

#zone-preface h2.block-title a:hover,
#zone-postscript h2.block-title a:hover {
  border-top: 7px solid #f4f0e6;
  color: #f4f0e6;
}

/* Zone Content */

#zone-content {
}

#section-content .content p a:link,
#section-content .content .field-type-text-with-summary a:link {
  border-bottom: 1px solid #bb0000;
}

#section-content .content p a:hover,
#section-content .content .field-type-text-with-summary li a:hover {
  border-bottom: 1px solid #000000;
  background: #f4f0e6;
  text-decoration: none;
}

.field-name-field-displaythumbs {
  display: none;
}

.breadcrumb-wrapper{
  z-index: 1;
  position: relative;
}

body.html .breadcrumb-left {
  background: #666666;
  padding: 20px 0px 0px 10px;
  height: 23px;
  color: #ffffff;
  width: 630px;
  margin-right: 0;
}

body.html #breadcrumb-extension {
  position: absolute;
  right: 0;
  width: 45%;
  height: 43px;
  background: #666666;
}


.breadcrumb a {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
}

ul.action-links {
  float: right;
}

ul.action-links li a{
  border-top: 3px solid #ddd;
  background-color: #bb0000;
  color: #dddddd;
  padding: 0.5em;
  text-transform: uppercase;
}

ul.action-links li a:hover {
  text-decoration: none;
}

.front .view .more-link a {
  display: block;
  color: #ffffff;
  height: 1.15em;
  width: 1.45em;
  line-height: 1em;
  text-align: center;
  font-size: 16px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.front .view .more-link a:hover {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

/* Slider Styles */
.not-front .galleryformatter {
  padding-bottom: 2em;
}

.galleryformatter-greenarrows .gallery-thumbs li {
  margin-left: 4px;
}

.galleryformatter-greenarrows .gallery-thumbs li img {
  border: 1px solid #333333;
}

/* To keep header tile from appearing during transitions. */
.galleryformatter {
  background: white;
}

/* Region Sidebar */

#region-sidebar .content p a {
  border-bottom: 1px solid #bb0000;
}

.view-display-id-news_page,
.view-display-id-blog_page,
.view-id-image_gallery,
.view-display-id-people_page,
.view-display-id-asc_events_page {
  border-top: 3px solid #999999;
  padding-top: 1em;
}

.view-display-id-asc_events_page_year,
.view-display-id-asc_events_page_month,
.view-display-id-asc_events_page_day {
  border-top: 1px solid #999999;
}

.view-display-id-asc_events_page_year .date-heading,
.view-display-id-asc_events_page_month .date-heading,
.view-display-id-asc_events_page_day .date-heading {
  border-bottom: 3px solid #999999;
}

/* Zone Footer */

#zone-footer-wrapper {
}

#zone-footer {
  min-height: 5em;
}

#zone-footer a,
#zone-footer a:hover,
#zone-footer a:visited {
  color: #ffffff;
}

#zone-footer p a:hover {
  background: #f4f0e6;
  color: #000000;
}

#zone-footer p a.no-decoration:hover {
  background: none;
}

#zone-footer p {
  border-top: 1px solid white;
  padding: 1em 3px;
  margin-bottom: 0;
  color: #ffffff;
  line-height: 16px;
}

#zone-footer #search-block-form .form-submit {
  display: none;
}

#zone-footer #search-block-form input {
  border: 0 none;
  height: 28px;
  font-size: 100%;
  line-height: 23px;
  margin: 0;
  padding: 5px 8px;
  color: #999999;
  border: 1px solid #333333;
  width: 295px;
  font-weight: bold;
}

#zone-footer #search-block-form input.focused {
  color: #000000;
}

#zone-footer #search_block_form input.form-text {
  color: #000000;
  font-weight: normal;
}

#ascbanner,
#ascfooterbanner,
#osulogo {
  font-size: 0;
}

#ascfooter {
  width: 86px;
  height: 55px;
}

#copyright {
  font-size: 0.8em;
}


/* Gallery Styles */

.gallery-image {
  float: left;
  margin: 0 20px 20px 0;
}

.gallery-image a {
  display: block;
}

/* Service Descriptions */

.node-type-service-description legend {
  /* text-align: right; */
  height: 1.75em;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
  /* text-transform: uppercase; */
  /* color: #ffffff; */
  /* background: #888888; */
  background-position: 0px 0px;
  border-bottom: 1px solid #bb0000;
  width: 100%;
  line-height: 1.75em;
}

.node-type-service-description fieldset {
  min-height: 33px;
  padding-bottom: 1em;
}

.ajax-progress .throbber {
  display: none;
}

.view-id-image_gallery .pager {
  float: left;
}

html .pager li {
  margin-left: 3px;
  font-weight: normal;
}

.view-id-image_gallery .pager li.pager-previous a,
.view-id-image_gallery .pager li.pager-next a {
  font-size: 0;
  display: inline-block;
  background: url('../images/smallredarrows.png');
  width: 13px;
  height: 14px;
}

.view-id-image_gallery .pager li.pager-next a {
  background-position: -24px 0px;
}

.view-id-image_gallery .pager li.pager-first,
.view-id-image_gallery .pager li.pager-last {
  display: none;
}

#letter-select-list {
  list-style-type: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 3px;
  margin: 0;
}

#letter-select-list li {
  display: inline;
  margin-right: 1em;
}

