/* News Page */

.node-type-asc-news .field-name-field-news-image img {
  float: left;
  border: 1px solid #666666;
  margin: 0px 10px 3px 0px;
}

.node-type-asc-news .submitted {
  margin-bottom: 30px;
}

/* Styles for News Features */

.features .views-field-changed {
  position: absolute;
  left: 50px;
  bottom: 0;
  line-height: 1em;
}


/* News List Block on News Page */

.view-display-id-news_block_list .views-field-field-news-image {
  float: left;
  margin-right: 1em;
}
