/* News Page */

.node-type-asc-news .field-name-field-news-image img,
.view-display-id-news_page .field-name-field-news-image img,
.view-display-id-news_filters_page .field-name-field-news-image img {
  float: left;
  border: 1px solid #666666;
  margin: 0px 20px 15px 0px;
}

.node-type-asc-news .field-name-body {
  margin-bottom: 10px;
  min-height: 185px;
}

.node-type-asc-news .submitted {
  margin-bottom: 30px;
}

.view-display-id-news_page h2,
.view-display-id-news_filters_page h2 {
  font-size: 1em;
  line-height: 1em;
}


.view-display-id-news_page article {
  border-bottom: 1px solid #333333;
  margin-bottom: 15px;
}

.view-display-id-news_page article .field-type-text-with-summary {
  min-height: 95px;
}

/* Styles for News Features */

.features .views-field-changed {
}


/* News List Block on News Page */

.view-display-id-news_block_list .views-field-field-news-image,
.view-display-id-news_block_small .views-field-field-news-image {
  float: left;
  margin: 0 1em 1em 0em;
}

.view-display-id-news_block_list .views-row,
.view-display-id-news_block_small .views-row {
  clear: both;
}

.view-display-id-news_block_large > .view-content:first-child {
  width: 62%;
  padding-right: 0.2em;
  border-right: 1px dotted #888888;
  margin-right: 0.8em;
  float: left;
}

/* Did not work as a %, so will need overridden elsewhere for responsive */
.view-display-id-news_block_large .col-1,
.view-display-id-news_block_large .col-2 {
  width: 122px;
}

.view-display-id-asc_news_block_large .col-1 {
  padding-right: 1.8em;
}

.view-display-id-news_block_large .attachment {
  float: left;
  width: 33%;
}

.view-display-id-news_block_small .view-content .views-row {
  position: relative;
  height: 4.7em;
}

.view-display-id-news_block_small .view-content .views-row .views-field-title {
  position: absolute;
  bottom: 1.5em;
  left: 4.7em;
}

.view-display-id-news_block_small .view-content .views-row .views-field-changed {
  position: absolute;
  bottom: 0;
  left: 4.7em;
}

