.node-type-asc-people .ds-2col .group-left {
  width: 640px;
}

.node-type-asc-people .ds-2col .group-right {
  width: 300px;
}

.node-type-asc-people h1 {
  margin-right: -20px;
  background: #F1F2F2;
  padding: 10px;
  line-height: 30px;
}

.node-type-asc-people h1#page-title {
  margin-bottom: 0;
}

html .node-type-asc-people .region-content .region-inner {
  padding-top: 0px;
}

.node-type-asc-people .field-name-body {
  margin-top: 15px;
}

.node-type-asc-people #region-sidebar {
  padding-top: 0px;
}

.field-name-field-people-terms-3 {
  width: 100%;
  padding: 2px 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-bottom: 3em;
}

.field-name-field-people-terms-3 div.field-item {
  display: inline;
  margin-right: 4px;
}

#region-sidebar .views-field-field-asc-people-email,
#region-sidebar .views-field-field-asc-people-phone,
#region-sidebar .views-field-field-asc-people-fax,
#region-sidebar .views-field-field-asc-people-office-address,
#region-sidebar .views-field-field-asc-people-website-link {
  /* background: url('../icons/people.png') no-repeat top left; */
  padding-left: 6px;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 15px 15px 0 15px;
}


#region-sidebar .views-field-field-asc-people-email {
  /* background-position: 0 -66px;  */
  border-bottom: 2px dotted #F4F0E6;
  padding-bottom: 0.75em;
}

#region-sidebar .views-field-field-asc-people-phone {
  /* background-position: 0 -197px; */
}

#region-sidebar .views-field-field-asc-people-phone span,
#region-sidebar .views-field-field-asc-people-phone div {
  display: inline;
}

#region-sidebar .views-field-field-asc-people-fax span,
#region-sidebar .views-field-field-asc-people-fax div {
  display: inline;
}

#region-sidebar .views-field-field-asc-people-office-address {
  /* background-position: 0 0; */
  border-top: 2px dotted #F4F0E6;
  padding-bottom: 0.75em;
}

#region-sidebar .views-field-field-asc-people-website-link {
  /* background-position: 0 -255px; */
}

#region-sidebar .view-display-id-asc_bio_sidebar_block {
  margin-bottom: 2em;
}

.group-asc-people-description {
  background: #F1F2F2;
  margin-right: -20px;
  padding: 0px 15px 15px;
}

.field-name-field-asc-people-title {
  font-style: oblique;
  font-size: 1.2em;
}

.node-type-asc-people .field-name-field-people-terms-1 {
  font-style: oblique;
  font-size: 1.2em;
}

/* Directory Page */
.view-display-id-people_page .views-field-field-asc-people-picture img {
  width: 47px;
  height: 63px;
}

.view-display-id-people_page .views-field-title a {
  font-family: Cardo, serif;
  font-size: 15px;
}

#region-content .view-display-id-people_page table td {
  vertical-align: top;
  padding: 10px 0 0 0;
}

#region-content .view-display-id-people_page table tr:first td {
  padding-top: 0;
}

.view-display-id-people_page table tr {
  border-bottom: 1px solid #cccccc;
}

.not-front .field-name-field-people-terms-1 .field-item {
  display: inline;
}

.not-front .field-name-field-people-terms-1 .field-items .field-item::before {
  content: ', ';
}

.not-front .field-name-field-people-terms-1 .field-items .field-item:first-child::before {
  content: '';
}

/* Features */
.view-display-id-people_block_large img {
  width: 92px;
  height: 122px;
}

.front .feature-whole .view-display-id-people_block_large .views-row {
  width: 25%;
  float: left;
  border: none;
}

.front .feature-whole .views-field-field-asc-people-title-1 {
  padding-right: 1em;
}

/* Small Feature */

.front .feature-half .view-display-id-people_block_small .views-row {
  position: relative;
  border: none;
  margin-bottom: 3px;
  height: 70px;
}

.view-display-id-people_block_small .views-field-title {
  position: absolute;
  bottom: 35px;
  left: 60px;
}

.view-display-id-people_block_small .views-field-field-asc-people-title {
  position: absolute;
  bottom: 19px;
  left: 60px;
}

.view-display-id-people_block_small .views-field-field-people-terms-2 {
  position: absolute;
  bottom: 0px;
  left: 60px;
}


.view-display-id-people_block_small img {
  width: 46px;
}

.not-front .node-asc-people .field-name-field-people-terms-2 li.field-item:before {
  content: '';
}

.not-front .node-asc-people .field-name-field-people-terms-2 li.field-item,
.not-front .node-asc-people .field-name-field-people-terms-2 li.field-item a {
  font-size: 1em;
}

.field-name-field-people-terms-2 .field-label,
.field-name-field-asc-people-education .field-label,
.field-name-field-asc-areas-of-expertise .field-label {
  font-family: Cardo, serif;
  font-size: 22px;
  line-height: 52px;
  font-weight: normal;
}

.front .view-display-id-people_block_small td {
  position: relative;
}

.views-field-field-asc-people-office-address {
  white-space: pre-line;
}

.node-type-asc-people #region-sidebar {
  font-size: 0.9em;
}

.view-display-id-people_page .views-field-field-asc-people-picture img {
  border: 1px solid #666666;
}

#region-content .view-display-id-people_page table {
  margin-top: 0;
}
