.node-type-asc-people .ds-2col .group-left {
  width: 640px;
}

.node-type-asc-people .ds-2col .group-right {
  width: 300px;
}

.node-type-asc-people h1 {
  margin-right: -20px;
  background: #F1F2F2;
  padding: 10px;
  line-height: 30px;
}

html .node-type-asc-people .region-content .region-inner {
  padding-top: 0px;
}

.node-type-asc-people .field-name-body {
  margin-top: 15px;
}

.node-type-asc-people #region-sidebar {
  padding-top: 0px;
}

#region-sidebar .views-field-field-asc-people-email,
#region-sidebar .views-field-field-asc-people-phone,
#region-sidebar .views-field-field-asc-people-fax,
#region-sidebar .views-field-field-asc-people-office-address,
#region-sidebar .views-field-field-asc-people-website-link {
  background: url('../icons/people.png') no-repeat top left;
  padding-left: 32px;
  font-size: 1.25em;
  margin: 15px 0 0 15px;
}


#region-sidebar .views-field-field-asc-people-email {
  background-position: 0 -66px; 
}

#region-sidebar .views-field-field-asc-people-phone {
  background-position: 0 -197px;
}

#region-sidebar .views-field-field-asc-people-fax {
  background-position: 0 -130px;
}

#region-sidebar .views-field-field-asc-people-office-address {
  background-position: 0 0;
}

#region-sidebar .views-field-field-asc-people-website-link {
  background-position: 0 -255px;
  padding-bottom: 8px;
}

.group-asc-people-description {
  background: #F1F2F2;
  margin-right: -20px;
  padding: 0px 15px 15px;
}

.field-name-field-asc-people-title {
  font-style: oblique;
  font-size: 1.2em;
}

.node-type-asc-people .field-name-field-people-terms-1 {
  font-style: oblique;
  font-size: 1.2em;
}

/* Directory Page */
.view-display-id-people_page .views-field-field-asc-people-picture img {
  width: 47px;
}

.view-display-id-people_page table td {
  vertical-align: top;
  padding: 10px 0 10px 10px;
}

.view-display-id-people_page table tr {
  border-bottom: 1px solid #cccccc;
}

.not-front .field-name-field-people-terms-1 .field-items .field-item::before {
  content: ', ';
  display: inline;
}

.not-front .field-name-field-people-terms-1 .field-items .field-item:first::before {
  content: '';
}

/* Features */
.view-display-id-people_block_large img {
  width: 92px;
  height: 122px;
}

.front .feature-whole .view-display-id-people_block_large .views-row {
  width: 25%;
  float: left;
  border: none;
}

.front .feature-whole .views-field-field-asc-people-title-1 {
  padding-right: 1em;
}

/* Small Feature */

.front .feature-half .view-display-id-people_block_small .views-row {
  position: relative;
  border: none;
  margin-bottom: 3px;
  height: 70px;
}

.view-display-id-people_block_small .views-field-title {
  position: absolute;
  bottom: 35px;
  left: 60px;
}

.view-display-id-people_block_small .views-field-field-asc-people-title {
  position: absolute;
  bottom: 19px;
  left: 60px;
}

.view-display-id-people_block_small .views-field-field-people-terms-2 {
  position: absolute;
  bottom: 0px;
  left: 60px;
}


.view-display-id-people_block_small img {
  width: 46px;
}

.not-front .node-asc-people .field-name-field-people-terms-2 li.field-item:before {
  content: '';
}

.not-front .node-asc-people .field-name-field-people-terms-2 li.field-item,
.not-front .node-asc-people .field-name-field-people-terms-2 li.field-item a {
  font-size: 15px;
}

.field-name-field-people-terms-2 .field-label,
.field-name-field-asc-people-education .field-label {
  font-family: Cardo, serif;
  font-size: 22px;
  line-height: 52px;
  font-weight: normal;
}

.front .view-display-id-people_block_small td {
  position: relative;
}

.views-field-field-asc-people-office-address {
  white-space: pre-line;
}
