/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* Override mobile style in global. */
.region {
  margin-bottom: 0px;
}

/* Zone-Branding */

#zone-branding {
}

.logo-img {
  /* Probably this should come back." */
  /* margin-left: -100px; */
  min-height: 164px;
}

.logo-img a:hover {
  text-decoration: none;
}

#logolink {
  display: block;
  width: 1040px;
  height: 165px;
  background: url('../logo.png');
  margin-left: -100px;
}


#logo-tile {
  width: 50%;
  left: 50%;
  position: absolute;
  height: 164px;
  top: 40px;
  background: url('../logo.png') no-repeat -570px 0px;;
}

#osulogo {
  background: url(../images/branding.png) no-repeat top left;
  background-position: 0 -266px;
  height: 86px;
  width: 84px;
  position: absolute;
  bottom: 50px;
  right: 0px;
}

/* Zone Menu */

#zone-menu {
  padding-left: 1px;
  height: 36px;
}

#main-menu {
  margin-left: 0;
}

#region-menu {
  height: 36px;
}

#zone-menu .navigation {
  text-align: left;
}

#zone-menu #main-menu li.first a {
  border-left: 1px solid #cccccc;
}

#zone-menu ul#main-menu li {
  padding: 0;
  margin: 0;
}

#zone-menu #main-menu li a {
  font: 14px/20px Arial, sans;
  color: #cccccc;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.25em 1em 0.25em;
  border-right: 1px solid #cccccc;
  margin-left: -1px;
}

#zone-menu #main-menu li a:hover {
  color: #ffffff;
}

#zone-menu #main-menu li a.active,
#zone-menu #main-menu li a.active-trail {
  border-bottom: 0.5em solid #cccccc;
  color #ffffff;
}

/* Zone Header */

#zone-header-wrapper {
  height: 262px;
}

.region-header-second-inner {
  margin-right: 90px;
  padding: 1em 0;
}

#block-menu-menu-quick-links {
  margin-top: 1em;
}

/* Zone Preface */


#views_slideshow_cycle_main_rotor-block img {
  vertical-align: middle;
  /* height: 100%; */
}

/* Zone Content */

#banner-container {
  position: relative;
}

#ascbanner {
  background: url(../images/branding.png) no-repeat top left;
  background-position: 0 0px;
  height: 111px;
  width: 84px;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 100;
}

#ascbanner a {
  text-decoration: none;
}

#header-tile {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 55%;
  display: block;
}

#header-tile-bar {
  height: 2em;
  background: #ffffff;
}

#region-header-second {
  margin-top: 1em;
  font-size: 1.08em;
  min-height: 8em;
  /* Default is background has color for mobile. */
  background: transparent;
}

.front #zone-content {
  min-height: 0em;
}
.not-front #region-content {
  margin-bottom: 1em;
}
.not-front .block-system-main {
    min-height: 12em;
}
#zone-content {
  position: relative;
  min-height: 22em;
}

#region-sidebar {
  background: #e2d0b2;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  padding-top: 1.5em;
  border-top: 38px solid #635B4F;
  min-height:15em;
}

#region-sidebar ul.menu {
  width: 100%;
  list-style: none;
  list-style-image: none;
  font-size: 0.9em;
}

#region-sidebar ul.menu .nolink {
  display: block;
  background: #5A5347;
  margin-left: 0;
  margin-right: 0;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0em 0em 0em 0.5em;
  font-family: "Arial Black",Gadget,sans-serif;
  font-size: 1.4em;
}

#region-sidebar ul.menu li {
  list-style: none;
  list-style-image: none;
  line-height: 1.4em;
  padding: 0.5em 0 0.5em 0;
  margin: 0 1em;
  background: url('../images/menu-separator.png') repeat-x left bottom;
  font-family: Arial, Helvetica, 'Lucida Grande', verdana, sans-serif;
  color: #333333;
}

#region-sidebar ul.menu li ul li {
  line-height: 1.4em;
  padding: 0.25em 0 0.33em;
  margin: 0 1em;
  background: none;
}

#region-sidebar ul.menu li a {
  color: #333333;
  font-size: 12px;
  width: 100%;
  display: block;
}

#region-sidebar ul.menu li a.active {
  background-color: #F5EFE5;
  margin-left: -1.1em;
  padding-left: 1.1em;
}

#region-sidebar ul.menu li ul li a.active {
  margin-left: -2.1em;
  padding-left: 2em;
}

#region-sidebar ul.menu li ul li ul li a.active {
  margin-left: -3.1em;
  padding-left: 3em;
}

#region-sidebar .date-nav-wrapper .date-heading {
  background-color: #E2D0B2;
}

#region-sidebar .date-nav h3 {
  position: relative;
  top: 30px;
  background-color: #5A5347;
  color: white;
  text-transform: uppercase;
}

#region-sidebar .calendar-calendar {
  margin-top: -1em;
}

#region-sidebar .calendar-calendar td {
  text-align: center;
  border: 1px solid #dddddd;
}

#region-sidebar .calendar-calendar th {
  color: #ffffff;
  background: #AFA9A0;
  border-left: none;
  border-right: none;
}

#region-sidebar .date-nav .pager li.date-next a {
  margin-top: 0px;
}

#region-sidebar .date-nav .pager .date-prev a,
#region-sidebar .date-nav .pager .date-next a {
    margin-top: 30px;
    display: block;
    width: 1em;
}

#region-sidebar .date-nav .pager li.date-prev a {
  background: 50% 50% no-repeat url('../images/arrow-l.png');
}

#region-sidebar .date-nav .pager li.date-next a {
  background: 50% 50% no-repeat url('../images/arrow-r.png');
}

#region-sidebar .date-nav h3 a {
  color: white;
  font-family: 'Arial Black', Gadget, sans-serif;
}

#region-sidebar .date-nav .pager li {
  background: none;
  border-right: none;
  font-size: 1px;
}

#region-sidebar .date-nav .pager li a {
  color: white;
}


/* Zone Postscript */

#zone-postscript {
  margin-bottom: 2em;
}


/* Section Footer */

#zone-footer {
  position: relative;
  padding-top: 2em;
}

#ascfooterbanner {
  background: url(../images/branding.png) no-repeat top left;
  background-position: 0 -161px;
  height: 57px;
  width: 84px;
  position: absolute;
  bottom: -5px;
  right: 10px;
  z-index: 100;
}

/* Social Media in Footer */
#zone-content .block-widgets-s-socialmedia-share-default,
#zone-footer .block-widgets-s-socialmedia-profile-buttons {
  float: right;
}

#zone-content .block-s-socialmedia-share-default .widgets-element-horizontal,
#zone-footer .block-widgets-s-socialmedia-profile-buttons .widgets-element-horizontal {
  margin-left: 1em;
}

/* Gallery */

.view-id-image_gallery {
  width: 640px;
  margin-right: 0;
}

.not-front .field-type-taxonomy-term-reference {
  clear: both;
  margin-top: 0.5em;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  font-size: 0.75em;
  height: 2em;
  margin-bottom: 1.5em;j
}

.not-front .field-type-taxonomy-term-reference .field-item {
  margin-right: 1em;
  float: left;
}

