/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* Override mobile style in global. */
.region {
  margin-bottom: 0px;
}

/* Zone-Branding */

#zone-branding-wrapper {
  background-position: center;
  background-repeat: no-repeat;
}

.logo-img {
  /* Probably this should come back." */
  min-height: 164px;
}

img#logo {
  /* margin-top: 30px; */
  position: relative;
}

.logo-img a:hover {
  text-decoration: none;
}

#logolink {
  display: block;
  width: 1040px;
  height: 165px;
  /* background: url('../logo.png'); */
  margin-left: -100px;
}


#logo-tile {
  width: 50%;
  left: 50%;
  position: absolute;
  height: 164px;
  top: 40px;
  /* background: url('../logo.png') no-repeat -570px 0px; */
}

#osulogo {
  background: url(../images/branding.png) no-repeat top left;
  background-position: -2px -266px;
  height: 86px;
  width: 84px;
  position: absolute;
  bottom: 50px;
  right: 0px;
}

/* Zone Menu */

#zone-menu {
  padding-left: 1px;
  height: 36px;
}

#main-menu {
  margin-left: 0;
}

#region-menu {
  height: 36px;
}

#zone-menu .navigation {
  text-align: left;
}

#zone-menu #main-menu li.first a {
  border-left: 1px solid #ffffff;
}

#zone-menu ul#main-menu li {
  padding: 0;
  margin: 0;
}

#zone-menu #main-menu li a {
  font: 14px/20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4em 1em 0.4em;
  border-right: 1px solid #ffffff;
  margin-left: -1px;
}

#zone-menu #main-menu li a:hover,
#zone-menu #main-menu li a.active,
#zone-menu #main-menu li a.active-trail {
  border-bottom: 7px solid #f4f0e6;
  border-right: 1px solid #f4f0e6;
  color: #f4f0e6;
}

/* Zone Header */

#zone-header-wrapper {
  height: 262px;
}

.region-header-second-inner {
  /* margin-right: 120px;  Why? */
  padding: 1em 0;
}

#block-menu-menu-quick-links {
  margin-top: 1em;
}

/* Zone Preface */


#views_slideshow_cycle_main_rotor-block img {
  vertical-align: middle;
  /* height: 100%; */
}

/* Zone Content */

.not-front .region-content .region-inner {
  padding-top: 30px;
}

#banner-container {
  position: relative;
}

#ascbanner {
  background: url(../images/branding.png) no-repeat top left;
  background-position: 0 0px;
  height: 111px;
  width: 84px;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 100;
}

#ascbanner a {
  text-decoration: none;
}

#header-tile {
  position: absolute;
  top: 30px;
  bottom: 0px;
  right: 0;
  width: 50%;
  padding-left: 10px;
  display: block;
}

#region-header-second {
  margin-top: 1em;
  height: 230px;
  font-size: 1.25em;
  min-height: 8em;
  /* Default is background has color for mobile. */
  background: transparent;
  width: 320px;
  position: relative;
}

.front #zone-content {
  min-height: 0em;
}
.not-front .block-system-main {
    min-height: 12em;
}
#zone-content {
  position: relative;
  min-height: 22em;
}

#region-sidebar {
  right: 0px;
  padding-top: 62px;
}

#region-sidebar .block:first-child {
}

#region-sidebar .block {
}


#region-sidebar .content .block p {
  padding: 8px;
}

#region-sidebar ul {
  width: 100%;
  list-style: none;
  list-style-image: none;
  font-size: 0.9em;
}

#region-sidebar ul.menu .nolink,
#region-sidebar h2.block-title {
  display: block;
  background: #5A5347;
  margin-left: 0;
  margin-right: 0;
  color: #ffffff;
  text-transform: uppercase;
  padding: 2px 0em 0em 0.9em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 1.8em;
}

.field-type-taxonomy-term-reference a {
  font-size: 11px;
}

.field-type-taxonomy-term-reference a:hover {
  text-decoration: none;
  color: #000000;
}

#region-sidebar ul.menu .nolink {
  margin-left: -16px;
  margin-right: -16px;
}

#region-sidebar h2.block-title a {
  color: white;
  text-decoration: none;
}

#region-sidebar .content ul li {
  list-style: none;
  list-style-image: none;
  line-height: 1.4em;
  padding: 0.5em 0 0.5em 0;
  margin: 0 16px;
  /* background: url('../images/menu-separator.png') repeat-x left bottom; */
  color: #333333;
  border-bottom: 2px dotted #f4f0e6;
}

#region-sidebar .content ul li.last, 
#region-sidebar .content ul li:last-child, 
#region-sidebar .content ul.pager li, 
#region-sidebar .content ul li.views-row-last {
  border-bottom: none;
}
  

#region-sidebar .content ul li ul li {
  line-height: 1.4em;
  padding: 0.25em 0 0.33em;
  margin: 0 1em;
  background: none;
  border: none;
}

#region-sidebar .content ul li a,
#region-sidebar .content ul li span {
  color: #333333;
  font-size: 12px;
  width: 100%;
  display: block;
}

#region-sidebar .content ul li a.active,
#region-sidebar .content ul li span.active,
#region-sidebar .content ul li a:hover {
  background-color: #f4f0E6;
}

#region-sidebar .content ul li a,
#region-sidebar .content ul li span {
  padding: 3px;
  margin-left: -16px;
  padding-left: 16px;
}

#region-sidebar .content ul li ul li a {
  margin-left: -27px;
  padding-left: 38px;
}

#region-sidebar .content ul li ul li ul li a {
  margin-left: -38px;
  padding-left: 49px;
  border: none;
}

#region-sidebar .date-nav h3 {
  position: relative;
  top: 30px;
  background-color: #5A5347;
  color: white;
  text-transform: uppercase;
}

#region-sidebar .calendar-calendar {
  margin-top: -1em;
}

#region-sidebar .calendar-calendar td {
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 1.1em;
}

#region-sidebar .calendar-calendar th {
  color: #ffffff;
  background: #AFA9A0;
  border-left: none;
  border-right: none;
  padding-top: 6px;
  font-size: 1.25em;
}

#region-sidebar .date-nav .pager li.date-next a {
  margin-top: 0px;
}

#region-sidebar .date-nav .pager .date-prev a,
#region-sidebar .date-nav .pager .date-next a {
    display: inline-block;
    width: 1em;
    font-size: 0px;
}

#region-sidebar .date-nav .pager li.date-prev {
  left: 12px;
}

#region-sidebar .date-nav .pager li.date-next {
  right: -16px;
}

#region-sidebar .date-nav .pager li.date-prev a {
  background: 50% 50% no-repeat url('../images/arrow-l.png');
  padding-top: 24px;
}

#region-sidebar .date-nav .pager li.date-next a {
  background: 50% 50% no-repeat url('../images/arrow-r.png');
  padding-top: 24px;
}

#region-sidebar .date-nav h3 a {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
}

#region-sidebar .date-nav .pager li {
  background: none;
  border-right: none;
  font-size: 27px;
}

#region-sidebar .date-nav .pager li a {
  color: white;
}


/* Zone Postscript */

#zone-postscript {
  margin-bottom: 2em;
}

/* Tabs Links */
.region-content div.tabs {
  position: fixed;
  right: 0px;
  background: black;
  border: 2px solid green;
}

.region-content div.tabs ul {
  border: none;
}

.region-content div.tabs ul li {
  display: block;
  background: #cccccc;
}

.region-content div.tabs ul li a {
  background: none;
  border: none;
}

/* Section Footer */

#zone-footer {
  position: relative;
  padding-top: 2em;
}

#ascfooterbanner {
  background: url(../images/branding.png) no-repeat top left;
  background-position: 0 -161px;
  height: 57px;
  width: 84px;
  position: absolute;
  bottom: -5px;
  right: 10px;
  z-index: 100;
}

.region-footer-first .block-inner {
  width: 90%;
}

/* Social Media in Footer */
#zone-content .block-widgets-s-socialmedia-share-default,
#zone-footer .block-widgets-s-socialmedia-profile-default {
  float: right;
}

#zone-content .block-s-socialmedia-share-default .widgets-element-horizontal,
#zone-footer .block-widgets-s-socialmedia-profile-default .widgets-element-horizontal {
  margin-left: 1em;
}

#section-footer img.user-auth-btn {
  vertical-align: middle;
}

/* Gallery */

.view-id-image_gallery {
  width: 640px;
  margin-right: 0;
}

/* Nodes and Taxonomies */

.not-front .field-name-field-body {
  min-height: 200px;
  padding-bottom: 1em;
  border-bottom: 1px solid #666666;
}

.not-front .field-type-taxonomy-term-reference .field-item:before {
  content: '| ';
}

.not-front .field-type-taxonomy-term-reference .field-item:first-child {
  margin-left: 0;
}

.not-front .field-type-taxonomy-term-reference .field-item:first-child:before {
  content: '';
}


.node-type-asc-news article,
.node-type-asc-event articleA {
  border-bottom: 1px solid #333;
}

.node-type-asc-news article,
.node-type-asc-event article,
.node-type-page article {
  margin-bottom: 15px;
  min-height: 200px;
}

.node-type-page .galleryformatter-greenarrows .gallery-thumbs {
  padding: 0;
}

#breadcrumb-right-wrapper {
  margin-left: 0px;
  height: 43px;
}

#breadcrumb-right-inner {
  background-color: #333333;
  opacity: 0.7;
  filter:alpha(opacity=70);
  height: 100%;
}

.node-type-page article .contextual-links-wrapper {
  top: -25px;
}
