.view-asc-private-tutors th.views-field-edit-node {
  width: 4%;
}

.view-asc-private-tutors th.views-field-title {
  width: 15%;
}

.view-asc-private-tutors th.views-field-field-e-mail {
  width: 23%;
}

.view-asc-private-tutors th.views-field-field-starting-price {
  width: 10%;
}

.view-asc-private-tutors tr {
  border-bottom: 1px solid black;
}

.view-asc-private-tutors th {
  text-transform: uppercase;
  padding: 4px 0;
}

.view-asc-private-tutors tr.odd {
  background: #ffffff;
}

.view-asc-private-tutors tr.even {
  background: #f4f0e6;
}

.view-asc-private-tutors tr.even td.active {
  background: #e4e0d6;
}

.view-asc-private-tutors td {
  padding: 5px 5px 2px 4px;
}

