.view-asc-private-tutors th.views-field-edit-node {
  width: 4%;
}

.view-asc-private-tutors th.views-field-title {
  width: 15%;
}

.view-asc-private-tutors th.views-field-field-e-mail {
  width: 23%;
}

.view-asc-private-tutors th.views-field-field-starting-price {
  width: 10%;
}

.view-asc-private-tutors tr {
  border-bottom: 1px solid black;
}

.view-asc-private-tutors td {
  padding: 3px 3px 3px 0px;
}

