/* Front Page Upcoming Workshops */

/* Used to span rows in the front page grid */
html #section-content .region section#block-views-74cb006b0c12e2dd5ff66522bc789b6b {
  height: 235px;
  border-right: none;
}

.front section .view-display-id-upcoming_workshops .more-link a {
  top: 588px;
}

#region-sidebar .block-upcoming-events-calendar h2 {
  display: none;
}

.front section .view-display-id-upcoming_workshops {
  height: 560px;
}

.front .view-display-id-upcoming_workshops h3 {
  font: 1.4em/1.5em Helvetica, Arial, sans-serif;
}

.front .view-display-id-upcoming_workshops .views-row {
  padding-left: 1em;
}

.view-display-id-upcoming_workshops .views-row-first {
  padding-top: 0.5em;
}

.view-display-id-upcoming_workshops .views-row-last {
  padding-bottom: 0.75em;
}

/* Make the gaps disclaimer italic in all views. */

.field-name-field-asc-workshops-gaps {
  font-style: italic;
}



.block-b346de7f40e37fd302d06bf87a670514 {
  padding: 1em;
}

.block-b346de7f40e37fd302d06bf87a670514 h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}


.node-asc-workshop-course .node-asc-workshops-tutor-room h2 {
  display: none;
}

/* Upcoming workshops sidebar */
.block-views-59264f99f540f088d5c884b40e332349 h3 {
  font: 16px/1.25em Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.block-views-59264f99f540f088d5c884b40e332349 .content {
  padding: 1em;
}

.block-views-59264f99f540f088d5c884b40e332349 .content .views-row {
  padding-left: 1em;
}

/* Room List page */
.view-display-id-room_list_page .views-field-field-asc-workshops-gaps {
  text-align: center;
}

.view-display-id-room_list_page td ul li {
  margin-left: 0.25em;
}

/* Course list page */
.view-display-id-course_list_page .views-field-field-tutoring,
.view-display-id-course_list_page .views-field-field-workshops,
.view-display-id-course_list_page .views-field-field-reviews {
  text-align: center;
}

.view-display-id-course_list_page td.views-field-field-tutoring,
.view-display-id-course_list_page td.views-field-field-workshops,
.view-display-id-course_list_page td.views-field-field-reviews {
  padding: 4px 0; 
}


/* Workshop detail page */
.view-id-signup_user_list {
  margin-top: 2em;
}

.signup_anonymous_login {
  font-size: 16px;
  font-weight: bold;
}

form#signup-form,
form#signup-edit-form {
  margin-bottom: 1.5em;
}

.field-name-field-asc-workshops-evening,
.field-name-field-room {
  width: 44%;
  padding-right: 4%;
  background: #f4f0e6;
  padding: 0.25em;
}

.field-name-field-asc-workshops-evening {
  padding-right: 0;
}

.field-name-field-asc-workshops-evening .field-label,
.field-name-field-room .field-label {
  font-size: 16px;
  margin-bottom:0.25em;
}

