/* Front Page Upcoming Workshops */

/* Used to span rows in the front page grid */
html #section-content .region section#block-views-77b26e76628f4b068171a0aa7963eec0 {
  height: 235px;
  border-right: none;
}

.front section .view-display-id-upcoming_workshops {
  height: 560px;
}

.field-name-field-asc-workshops-gaps {
  font-style: italic;
}
