/* Front Page Upcoming Workshops */

/* Used to span rows in the front page grid */
html #section-content .region section#block-views-77b26e76628f4b068171a0aa7963eec0 {
  height: 235px;
  border-right: none;
}

.front section .view-display-id-upcoming_workshops .more-link a {
  top: 588px;
}

.front section .view-display-id-upcoming_workshops {
  height: 560px;
}

.front .view-display-id-upcoming_workshops h3 {
  font: 1.4em/1.5em Helvetica, Arial, sans-serif;
}

.front .view-display-id-upcoming_workshops .views-row {
  padding-left: 1em;
}

.view-display-id-upcoming_workshops .views-row-first {
  padding-top: 0.5em;
}

.view-display-id-upcoming_workshops .views-row-last {
  padding-bottom: 0.75em;
}

/* Make the gaps disclaimer italic in all views. */

.field-name-field-asc-workshops-gaps {
  font-style: italic;
}



.block-b346de7f40e37fd302d06bf87a670514 {
  padding: 1em;
}

.block-b346de7f40e37fd302d06bf87a670514 h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}


.node-asc-workshop-course .node-asc-workshops-tutor-room h2 {
  display: none;
}

/* Upcoming workshops sidebar */
.block-views-59264f99f540f088d5c884b40e332349 h3 {
  font: 16px/1.25em Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.block-views-59264f99f540f088d5c884b40e332349 .content {
  padding: 1em;
}

.block-views-59264f99f540f088d5c884b40e332349 .content .views-row {
  padding-left: 1em;
}
